.login {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	animation: login-animation 0.3s ease-in-out;
	.form-container {
		width: 30%;
		border: 1px solid $hr_grey4;
		border-radius: 24px;
		height: 40%;
	}
	.header-band {
		background: $hr_grey5;
		padding: 24px;
		border-top-left-radius: 24px;
		border-top-right-radius: 24px;
		h3 {
			margin: 0px;
			color: $hr_white;
			text-align: center;
		}
	}
	.form {
		padding: 24px;
		height: 60%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.login-input {
		margin-top: 16px;
	}
	.login-button {
		width: 100%;
		margin-top: 16px;
	}
}

@keyframes login-animation {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes form-container-animation {
	from {
		position: absolute;
		left: 0px;
	}
	to {
		position: absolute;
		left: 50%;
	}
}
@keyframes input-field {
	from {
		width: 0%;
		opacity: 0;
	}
	to {
		width: 90%;
		opacity: 1;
	}
}
